html, body{
    margin: 0;
    height: 100%;
    background-color: rgb(19, 18, 18);
}

#header{
    display: flex;
    justify-content: center;
    color: rgb(226, 247, 214);
}
#main{
    display: flex;
    justify-content: center;
    margin: auto;
}
#container{
    display: grid;
    width: 35em;
    height: 35em;
    margin: 0;
    border: 0.03em solid rgb(255, 255, 255);
    --grid-template-columns: repeat(16, 1fr);
    --grid-template-rows: repeat(16, 1fr);
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: var(--grid-template-rows);
    background-color: rgb(255, 255, 255);
}

.grid{
    padding: 0px;
}

